#background {
    background-image: url("img/music.jpg");
    background-repeat: repeat-y;   
    background-repeat: repeat-x;
}

#vertical-container {
    position: relative;
    background-color: white;
    margin-right: 10%;
    margin-left: 10%;
}

.navbar-header h4 {
    color: white;
}